.keyword_form {
  margin: 30px 0px 30px 0px;
  
}

.form-control-lg {
  height: 45px;
  font-size: 18px;
}

.col-sm-4 {
  padding-right: 5px;
  padding-left: 15px;
}

.col-sm-3 {
  padding-right: 5px;
  padding-left: 5px;
}

.search {
  margin-left: 5px;
  width: 170px;
  letter-spacing: 20px;
}

.btn.search span{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-left: 20px;
}