.job-results-block {
  display: flex;
}

.job-results {
  width: 80%;
  margin-right: 2%;
}

.search-history {
  width: 20%;
}

.card-header h4 {
  font-weight: 600;
}

.card-title {
  font-weight: 600;
}