ul {
	margin: 0;
	padding: 0;
}
h4.title {
	color: #262c38;
	margin: 0;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
}
.margin-top-2 {
	margin-top: 2em;
}
.job-result h6 {
	font-size: 1.5em;
}
.job-result p {
	/* line-height: 1.9em; */
	color: #666;
	margin: 1em 0;
}
.job-result h6 {
	color: #2d2d2d;
	text-transform: capitalize;
	font-weight: 600;
}
.search-history-block {
	background: #FFFFFF;
	box-shadow: 0 0px 1px rgb(168, 168, 168), 0 1px 2px rgba(0, 0, 0, .24);
	padding: 1em;
	margin-bottom: 2em;
}
.search-history-block h4 {
	font-size: 1.4em;
	color: #262c38;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 1em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
ul.search-history li {
	font-size: 0.9em;
	line-height: 2em;
	color: #666;
	list-style: none;
}
ul.search-history li a {
	color: #666;
}
ul.search-history li a:hover {
	color: rgb(26, 195, 224);
}
/* .inner_content_info_agileits {
	padding: 1.5em 0;
} */

/* .search-result-title {
  padding-top: 1.5em 0;
  text-align: center;
} */
h6.title {
	font-size: 1em;
	margin-bottom: 5px;
	font-weight: 600;
	text-transform: capitalize;
}
.interview-search {
  letter-spacing: 8px;
}
.subfunction {
  margin-top:6rem; 
  padding: 1.5rem;
}
.square-resume {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.hr-60 {
  width: 60%;
}
.square-title {
  display:inline-block;
  padding: 30px;
}
.square-examination {
  text-align: center;
  margin-bottom: 6rem;
}
.resume-results {
  width: 100%;
  margin: 0 auto;
  text-align:center;
}
.sub-link {
  color:rgb(51, 51, 51);
  font-weight: 600;
  margin-left:10px;
}