{% extends 'base.html' %}
{% block body %}
  <div class="inner_content_info_agileits" style="margin-top:6rem">
      <div class="container">
          <div style="padding-left: 1rem; text-align: center; margin-bottom: 6rem">
            <h4 class="title" style="display:inline-block; padding: 30px; border-bottom: 8px solid rgb(24, 131, 173)">職能性向小測驗專區</h4>
          </div>
          <div style="width: 90%; margin: 0 auto">
              <h5><a href='https://bookmarks.tw/pdp/' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">人格特質分析系統（Professional Dynametric Programs，簡稱PDP）</a></h5>
              <hr>
              <h5><a href='https://www.arealme.com/career/zh/?ag' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">可能是最準確的職業測試</a></h5>
              <hr>
              <h5><a href='https://www.apesk.com/mbti/dati_tw.asp' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">MBTI職業性格測試完整版</a></h5>
              <hr>
              <h5><a href='https://ideapit.com/test/mbti' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">簡單性向測驗–你是甚麼樣的人</a></h5>
              <hr>
              <h5><a href='https://geminichen.pixnet.net/blog/post/43004085-%E8%81%B7%E5%A0%B4%E6%80%A7%E5%90%91%E6%B8%AC%E9%A9%97-%E5%A4%A7%E5%85%AC%E5%8F%B8%E4%BA%BA%E4%BA%8B%E9%83%A8%E9%96%80%E5%AF%A6%E9%9A%9B%E6%8E%A1%E7%94%A8%E7%9A%84%E6%B8%AC' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">職場性向測驗-大公司人事部門實際採用的測試</a></h5>
              <hr>
              <h5><a href='https://geminichen.pixnet.net/blog/post/46333962-%E8%81%B7%E6%A5%AD%E6%80%A7%E5%90%91%E6%B8%AC%E9%A9%97-%E6%B8%AC%E8%A9%A6%E4%BD%A0-%E4%BD%A0%E9%81%A9%E5%90%88%E5%93%AA%E7%A8%AE%E8%81%B7%E6%A5%AD%3F' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">職業性向測驗-測試你-你適合哪種職業？</a></h5>
              <hr>
              <h5><a href='https://www.cw.com.tw/article/article.action?id=5071865' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">500強企業用的性格測試 你玩過了嗎？</a></h5>
              <hr>
              <h5><a href='https://www.gvm.com.tw/article.html?id=54088' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">我適合哪種工作類型? 9大職能星測職場性向</a></h5>
              <hr>
              <h5><a href='https://www.pcschool.com.tw/activity/106/1060327_job/index.aspx' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">人力銀行職能性向檢測</a></h5>
              <hr>
          </div>
      </div>
  </div>
{% endblock %}