{% extends 'base.html' %}

{% block head %}
  
{% endblock %}

{% block body %}
  {% include 'jobForm.html' %}

  {% if pagination %}
    <div>
      {{ pagination.links }}
    </div>
  {% endif %}
  <div class='job-results-block'>
    <div class='job-results'>
      <div class="inner_content_info_agileits">
        <div class="container">
            <h4 class="title">搜尋結果</h4>
            <hr>
          <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-8 job_info_left">
                <div class="bs-example bs-example-tabs">
                      <div>
                        <div class="col-md-8">
                          <div class="location_box1">
                            <h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
                            <p>On the other hand, we denounce with righteous indignation and dislike men
                              who are so beguiled and demoralized by the charms of pleasure</p>
                            <ul class="links_bottom">
                              <li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
                              <li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
                              <li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="clearfix"> </div>
                      </div>
                      <div class="tab_grid">
                        <div class="col-sm-3 loc_1">
                          <a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
                        </div>
                        <div class="col-sm-9">
                          <div class="location_box1">
                            <h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
                            <p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
                              who are so beguiled and demoralized by the charms of pleasure</p>
                            <ul class="links_bottom">
                              <li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
                              <li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
                              <li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="clearfix"> </div>
                      </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 job_info_right">
            <div class="col_3 permit">
              <h3>Jobs by Category</h3>
              <ul class="list_2">
                <li><a href="#">Railway Recruitment</a></li>
                <li><a href="#">Air Force Jobs</a></li>
                <li><a href="#">Police Jobs</a></li>
                <li><a href="#">Intelligence Bureau Jobs</a></li>
                <li><a href="#">Army Jobs</a></li>
                <li><a href="#">Navy Jobs</a></li>
                <li><a href="#">BSNL Jobs</a></li>
                <li><a href="#">Software Jobs</a></li>
                <li><a href="#">Research Jobs</a></li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //inner_content -->
      <!-- footer -->
      <div class="footer_top_agileits">
        <div class="container">
          <div class="col-md-4 footer_grid">
            <h3>About Us</h3>
            <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
              eros.
            </p>
          </div>
          <div class="col-md-4 footer_grid">
            <h3>Latest News</h3>
            <ul class="footer_grid_list">
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <a href="single.html" >Lorem ipsum neque vulputate </a>
              </li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <a href="single.html" >Dolor amet sed quam vitae</a>
              </li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <a href="single.html" >Lorem ipsum neque, vulputate </a>
              </li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <a href="single.html" >Dolor amet sed quam vitae</a>
              </li>
              <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <a href="single.html" >Lorem ipsum neque, vulputate </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer_grid">
            <h3>Contact Info</h3>
            <ul class="address">
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
            </ul>
          </div>
          <div class="clearfix"> </div>
          <div class="footer_grids">
            <div class="col-md-4 footer_grid_left">
              <h3>Sign up for our Newsletter</h3>
            </div>
            <div class="col-md-8 footer_grid_right">
    
              <form action="#" method="post">
                <input type="email" name="Email" placeholder="Enter Email Address..." required="">
                <input type="submit" value="Submit">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <div class="footer_w3ls">
        <div class="container">
          <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
              <div class="footer_bottom1">
                <a href="index.html">
                  <h2><span class="fa fa-signal" aria-hidden="true"></span> Soft <label>Hr Agency</label></h2>
                </a>
                <p>© 2017 Soft. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
              </div>
            </div>
            <div class="col-md-3 footer_bottom_grid">
              <h6>Follow Us</h6>
              <div class="social">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
    
        </div>
      </div>
    </div>
    <div class="search-history">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">最近搜尋條件：</h6>
          {% for history_condition, history_link in search_history.items() %}
            <p><a href='{{ history_link }}' class="card-text">{{ history_condition }}</a></p>
          {% endfor %}
        </div>
      </div>


    </div>
  </div>

{% endblock %}