{% extends 'base.html' %}

{% block body %}
  {% include 'jobForm.html' %}

  {% if pagination %}
    <div>
      {{ pagination.links }}
    </div>
  {% endif %}
  <div class='job-results-block'>
      <div class='job-results'>
        <div class="inner_content_info_agileits">
          <div class="container">
            <div class="inner_sec_grids_info_w3ls">
              <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                  <div class="permit">
                    <h4>最近搜尋條件：</h4>
                    <ul class="list_2">
                      {% for history_condition, history_link in search_history.items() %}
                        <li style="margin-bottom: 10px"><a href="{{ history_link }}">{{ history_condition }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
      <!-- //inner_content -->
      
{% endblock %}