<div class="container">
  <div style="width: 90%; margin: 0 auto">
    <form action="/interview" method="POST" class="keyword-form" style="margin-top:6rem">
      <div class="row">
        <!-- <label class="col-form-label" for="keyword_input">搜尋職缺：</label> -->
        <div class="col-sm-8">
          {% if keyword %}
            <input type="text" class="form-control form-control-lg" name="interview-keyword" value="{{ keyword }}" placeholder="搜尋面試經驗分享">
          {% elif interview_keyword %}
            <input type="text" class="form-control form-control-lg" name="interview-keyword" value="{{ interview_keyword }}" placeholder="搜尋面試經驗分享">
          {% else %}
            <input type="text" class="form-control form-control-lg" name="interview-keyword" placeholder="搜尋面試經驗分享">
          {% endif %}
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-lg btn-info interview-search"><i class="fas fa-search"></i><span>搜尋面試經驗</span></button>
        </div>
      </div> 
    </form>
  </div>
</div>
