<form action="/interview" method="GET" class="keyword_form">
  <div class="row">
    <!-- <label class="col-form-label" for="keyword_input">搜尋職缺：</label> -->
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-lg" name="keyword" value="{{ keyword }}" placeholder="搜尋面試經驗分享">
    </div>
    <div class="col-sm-3">
      <select title="地區" name='region' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇地區">
        <optgroup label="台北市">
        <!-- <option data-divider="true"></option> -->
          <option value='信義區'>信義區</option>
          <option value='大安區'>大安區</option>
        </optgroup>
        <option>台中市</option>
        <option data-divider="true"></option>
        <option>台南市</option>
        <option data-divider="true"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-info search"><span>搜尋</span></button>
  </div> 
</form>
