<form action="/search" method="GET" class="keyword-form">
  <div class="row">
    <!-- <label class="col-form-label" for="keyword_input">搜尋職缺：</label> -->
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-lg" name="keyword" id="keyword_input" value="{{ keyword }}" placeholder="搜尋職缺：請輸入關鍵字">
    </div>
    <div class="col-sm-2">
      {% if area_list %}
        <select title="地區" name='area' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇地區">
      {% else %}
        <select title="地區" name='area' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇地區">
      {% endif %}
        <optgroup label="台北市">
        <!-- <option data-divider="true"></option> -->
          <option value='台北市全選'>台北市全選</option>
          <option value='信義區'>信義區</option>
          <option value='大安區'>大安區</option>
          {% for area, value in area_dict.items() %}
            {% if area in area_list %}
              <option value="{{ area }}" selected="true">{{ area }}</option>
            {% else %}
              <option value="{{ area }}">{{ area }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
        <option>台中市</option>
        <option data-divider="true"></option>
        <option>台南市</option>
        <option data-divider="true"></option>
      </select>
      <!-- <input 
        type="text" 
        class="form-control dropdown-toggle" 
        name="region" 
        id="region_input" 
        value="{{ request.form['region'] }}" 
        placeholder="地區" 
        data-toggle="dropdown"> -->
    </div>
    <div class="col-sm-2">
      <input type="text" class="form-control form-control-lg" name="category" id="category_input" value="{{ request.form['category'] }}" placeholder="職務類別">
    </div>
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <form>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </form>
      </ul>
    </div> -->
    <div class="col-sm-1">
      <select title="全職/兼職" name='work-time' class="selectpicker form-control form-control-lg">
        <option value='0'>全部</option>
        <option value='1'>全職</option>
        <option value='2'>兼職</option>
      </select>
    </div>
    <div class="col-sm-2">
      <select title="薪水" name='salary' class="selectpicker form-control form-control-lg">
        <option value='30000'>月薪3萬以上</option>
        <option value='40000'>月薪4萬以上</option>
        <option value='50000'>月薪5萬以上</option>
      </select>
    </div>
    <button type="submit" class="btn btn-info search"><span>搜尋</span><i class="fas fa-search"></i>

    </button>
  </div> 
</form>
