<form action="/search" method="GET" class="keyword-form">
  <div class="row">
    <!-- <label class="col-form-label" for="keyword_input">搜尋職缺：</label> -->
    <div class="col-sm-4">
      <input type="text" class="form-control form-control-lg" name="keyword" id="keyword_input" value="{{ keyword }}" placeholder="搜尋職缺：請輸入關鍵字">
    </div>
    <div class="col-sm-2">
      {% if area_list %}
        <select title="地區" name='area' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇地區">
      {% else %}
        <select title="地區" name='area' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇地區">
      {% endif %}
        <optgroup label="台北市">
        <!-- <option data-divider="true"></option> -->
          {% for area, value in area_dict.items() %}
            {% if area in area_list %}
              <option value="{{ area }}" selected="true">{{ area[3::] }}</option>
            {% else %}
              <option value="{{ area }}">{{ area[3::] }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
        <option>台中市</option>
        <option data-divider="true"></option>
        <option>台南市</option>
        <option data-divider="true"></option>
      </select>
    </div>
    <div class="col-sm-2">
        {% if category_list %}
        <select title="職務類別" name='category' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇職務類別">
        {% else %}
        <select title="職務類別" name='category' class="selectpicker form-control form-control-lg" multiple data-live-search="true" data-max-options="5" data-width="100%" liveSearchPlaceholder="請選擇職務類別">
        {% endif %}

        
      </select>
      <input type="text" class="form-control form-control-lg" name="category" id="category_input" value="{{ request.form['category'] }}" placeholder="職務類別">
    </div>
    <!-- <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <form>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </form>
      </ul>
    </div> -->
    <div class="col-sm-2">
      <select title="全職/兼職" name='work-time' class="selectpicker form-control form-control-lg">
        {% for work_time_key, value in work_time_dict.items() %}
          {% if work_time_key == work_time %}
            <option value="{{ work_time_key }}" selected="true">{{ work_time_key }}</option>
          {% else %}
            <option value="{{ work_time_key }}">{{ work_time_key }}</option>
        {% endif %}
      {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <select title="薪水" name='salary' class="selectpicker form-control form-control-lg">
        {% for salary_key, value in salary_dict.items() %}
          {% if salary_key == salary %}
            <option value='{{ salary_key }}' selected='true'>{{ salary_key }}</option>
          {% else %}
            <option value='{{ salary_key }}'>{{ salary_key }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-info search"><span>搜尋</span><i class="fas fa-search"></i>

    </button>
  </div> 
</form>
