<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="height:5rem">
		<div class="container">
			<a class="navbar-brand" href="/">
				<i class="fab fa-hotjar d-inline-block align-top"" style="color:rgb(250, 127, 89); font-size: 1.5rem"></i>
				JOB <span style="color: rgb(26, 195, 224)">SEARCHER</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"><!---這個button就是折疊的button，展開後的東西就是id叫navbarResponsive的那個東西-->
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarResponsive"><!---這裡的id叫navbarResponsive，所以會被那個button toggle-->
				<ul class="navbar-nav ml-auto" style="font-size: 16px">
					<li class="nav-item">
						<a class="nav-link" href="/">找工作</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/interview">面試經驗分享</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/test">職能性向小測驗</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/resume">履歷範例</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>