{% extends 'base.html' %}
{% block body %}
  <div class="inner_content_info_agileits" style="margin-top:6rem">
      <div class="container" style=" display:flex">
        <div class="col-md-6">
          <div style="text-align: center; margin-top: 3rem;margin-bottom: 3rem">
            <h4 class="title" style="display:inline-block; padding: 30px; border: 8px solid rgb(24, 131, 173)">履歷表實例範本</h4>
          </div>
          <div style="width: 100%; margin: 0 auto;text-align:center">
              <h5><a href='https://event.1111.com.tw/careermaster/resume/Template' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">1111履歷健診</a></h5>
              <hr style="width: 60%">
              <h5><a href='https://www.cakeresume.com/resumes' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">CakeResume履歷範本</a></h5>
              <hr style="width: 60%">
              <h5><a href='https://www.taiwanjobs.gov.tw/Internet/Index/List.aspx?uid=224&pid=36' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">台灣就業通履歷範例</a></h5>
              
          </div>
        </div>
        <div class="col-md-6">
            <div style="text-align: center; margin-top: 3rem; margin-bottom: 3rem">
              <h4 class="title" style="display:inline-block; padding: 30px; border: 8px solid rgb(62, 181, 228)">履歷表格式參考</h4>
            </div>
            <div style="width: 100%; margin: 0 auto; text-align:center">
                <h5><a href='https://blog.plain-me.com/2018/07/7612/' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">plain-me-履歷表範本格式</a></h5>
                <hr style="width: 60%">
                <h5><a href='https://www.abcgo.com.tw/blog/resume-tools-resume-templates/' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">聯成外語-履歷表工具</a></h5>
                <hr style="width: 60%">
                <h5><a href='https://www.youtube.com/playlist?list=PL-7nUpWMjY_8LyHBJ1XpRfmNoXtEavqa5' target='_blank' style="color:rgb(51, 51, 51); font-weight: 600; margin-left:10px">youtube履歷撰寫影片播放列表</a></h5>
                
            </div>
          </div>
      </div>
  </div>
{% endblock %}