{% extends 'base.html' %}
{% block body %}
  <div class="subfunction">
    <div class="container" style=" display:flex">
      <div class="col-md-6">
        <div class="square-resume">
          <h4 class="title square-title" style="border-bottom: 8px solid rgb(24, 131, 173)">履歷表實例範本</h4>
        </div>
        <div class="resume-results">
          <h5><a href='https://event.1111.com.tw/careermaster/resume/Template' target='_blank' class="sub-link">1111履歷健診</a></h5>
          <hr class="hr-60">
          <h5><a href='https://www.cakeresume.com/resumes' target='_blank' class="sub-link">CakeResume履歷範本</a></h5>
          <hr class="hr-60">
          <h5><a href='https://www.taiwanjobs.gov.tw/Internet/Index/List.aspx?uid=224&pid=36' target='_blank' class="sub-link">台灣就業通履歷範例</a></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="square-resume">
          <h4 class="title square-title" style="border-bottom: 8px solid rgb(62, 181, 228)">履歷表格式參考</h4>
        </div>
        <div class="resume-results">
          <h5><a href='https://blog.plain-me.com/2018/07/7612/' target='_blank' class="sub-link">plain-me-履歷表範本格式</a></h5>
          <hr class="hr-60">
          <h5><a href='https://www.abcgo.com.tw/blog/resume-tools-resume-templates/' target='_blank' class="sub-link">聯成外語-履歷表工具</a></h5>
          <hr class="hr-60">
          <h5><a href='https://www.youtube.com/playlist?list=PL-7nUpWMjY_8LyHBJ1XpRfmNoXtEavqa5' target='_blank' class="sub-link">youtube履歷撰寫影片播放列表</a></h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}